letsencrypt:
  use_package: true
  config: |
    server = https://acme-v01.api.letsencrypt.org/directory
    email = webmaster@example.com
    authenticator = webroot
    webroot-path = /var/lib/www
    agree-tos = True
    renew-by-default = True
  domainsets:
    www:
      - example.com
      - www.example.com
    mail:
      - imap.example.com
      - smtp.example.com
      - mail.example.com
    intranet:
      - intranet.example.com
  server:
    start: 'systemctl start nginx'
    stop: 'systemctl stop nginx'
  cron:
    minute: 10
    hour: 2
