#!/bin/bash
{% from "letsencrypt/map.jinja" import letsencrypt with context %}

{% if letsencrypt.use_package %}
  {% set letsencrypt_command = "certbot" %}
{% else %}
  {% set letsencrypt_command = letsencrypt.cli_install_dir + "/letsencrypt-auto" %}
{% endif %}

PARAMETERS=''
{% if letsencrypt.webroot != False -%}
PARAMETERS="$PARAMETERS --webroot -w {{ letsencrypt.webroot }}"
{% elif letsencrypt.dns == True -%}
PARAMETERS="$PARAMETERS --manual --preferred-challenges dns"
{% elif letsencrypt.standalone == True -%}
PARAMETERS="$PARAMETERS --standalone --preferred-challenges tls-sni"
{% endif -%}
LOG_FILE='/var/log/letsencrypt/letsencrypt.log'

[ ! -d '/var/log/letsencrypt/' ] && mkdir '/var/log/letsencrypt'

for DOMAIN in "$@"
do
    PARAMETERS="$PARAMETERS -d $DOMAIN"
done

{{ letsencrypt_command }} certonly --quiet $PARAMETERS --non-interactive --expand >> "$LOG_FILE" 2>&1

if [ $? != 0 ]; then
    echo Failed to obtain cert, see "$LOG_FILE"
    exit 1
fi
