#!/bin/bash
{% from "letsencrypt/map.jinja" import letsencrypt with context %}
{%- if letsencrypt.use_package == True %}
  # Renew checks if the cert exists and needs to be renewed
  {% set check_cert_cmd = '/usr/bin/certbot renew --dry-run --cert-name' %}
  {% set renew_cert_cmd = '/usr/bin/certbot renew' %}
  {% set obtain_cert_cmd = '/usr/bin/certbot' %}
  {% set letsencrypt_command = "certbot" %}
{% else %}
  {% set check_cert_cmd = '/usr/local/bin/check_letsencrypt_cert.sh' %}
  {% set renew_cert_cmd = '/usr/local/bin/renew_letsencrypt_cert.sh' %}
  {% set obtain_cert_cmd = '/usr/local/bin/obtain_letsencrypt_cert.sh' %}
  {% set letsencrypt_command = letsencrypt.cli_install_dir + "/letsencrypt-auto" %}
{% endif %}
COMMON_NAME="$1"

{% if webroot != '' -%}
JOINED='-w /var/www/html/'
{% else -%}
JOINED=''
{% endif -%}
for DOMAIN in "$@"
do
    JOINED+=" -d $DOMAIN"
done

if ! {{ check_cert_cmd }} "$@" > /dev/null
then

{% if webserver_start is defined and webserver_stop is defined -%}
{% set hook = '--post-hook "' + webserver_stop + ' && ' + webserver_start + '"' %}
{%- else %}
{% set hook = '' %}
{%- endif %}
{% if webroot != '' -%}
    {{ letsencrypt_command|indent(4,true) }} certonly --webroot $JOINED --non-interactive --expand {{hook}} || exit 1
{%- else -%}
    {{ letsencrypt_command|indent(4,true) }} certonly $JOINED --non-interactive --expand {{hook}} || exit 1
{%- endif %}
    cat {{ letsencrypt.config_dir.path }}/live/${COMMON_NAME}/fullchain.pem \
        {{ letsencrypt.config_dir.path }}/live/${COMMON_NAME}/privkey.pem \
        > {{ letsencrypt.config_dir.path }}/live/${COMMON_NAME}/fullchain-privkey.pem || exit 1
    chmod 600 {{ letsencrypt.config_dir.path }}/live/${COMMON_NAME}/fullchain-privkey.pem || exit 1
    chown {{ letsencrypt_user }}:{{ letsencrypt_group }} {{ letsencrypt.config_dir.path }}/live/${COMMON_NAME}/fullchain-privkey.pem || exit 1
{%- if letsencrypt.post_renew.cmds %}
  {%- for cmd in letsencrypt.post_renew.cmds %}
    {{ cmd }}
  {%- endfor %}
{%- endif %}
fi
