#!/bin/bash

COMMON_NAME="$1"

{% if webroot != '' -%}
JOINED='-w /var/www/html/'
{% else -%}
JOINED=''
{% endif -%}
for DOMAIN in "$@"
do
    JOINED+=" -d $DOMAIN"
done

if ! /usr/local/bin/check_letsencrypt_cert.sh "$@" > /dev/null
then
{% if webroot != '' -%}
    {{ letsencrypt_command|indent(4,true) }} certonly --webroot $JOINED --non-interactive --expand || exit 1
{%- else -%}
    {{ letsencrypt_command|indent(4,true) }} certonly $JOINED --non-interactive --expand || exit 1
{%- endif %}
    cat /etc/letsencrypt/live/${COMMON_NAME}/fullchain.pem \
        /etc/letsencrypt/live/${COMMON_NAME}/privkey.pem \
        > /etc/letsencrypt/live/${COMMON_NAME}/fullchain-privkey.pem || exit 1
    chmod 600 /etc/letsencrypt/live/${COMMON_NAME}/fullchain-privkey.pem || exit 1
fi
