#!/bin/bash

COMMON_NAME="$1"

{% if webroot != '' -%}
JOINED='-w /var/www/html/'
{% else -%}
JOINED=''
{% endif -%}
for DOMAIN in "$@"
do
    JOINED+=" -d $DOMAIN"
done

if ! /usr/local/bin/check_letsencrypt_cert.sh "$@" > /dev/null
then

{% if webserver_start is defined and webserver_stop is defined -%}
{% set hook = '--post-hook "'webserver_stop' && 'webserver_start'"' %}
{%- else %}
{% set hook = '' %}
{%- endif %}
{% if webroot != '' -%}
    {{ letsencrypt_command|indent(4,true) }} certonly --webroot $JOINED --non-interactive --expand {{hook}} || exit 1
{%- else -%}
    {{ letsencrypt_command|indent(4,true) }} certonly $JOINED --non-interactive --expand {{hook}} || exit 1
{%- endif %}
    cat /etc/letsencrypt/live/${COMMON_NAME}/fullchain.pem \
        /etc/letsencrypt/live/${COMMON_NAME}/privkey.pem \
        > /etc/letsencrypt/live/${COMMON_NAME}/fullchain-privkey.pem || exit 1
    chmod 600 /etc/letsencrypt/live/${COMMON_NAME}/fullchain-privkey.pem || exit 1
    chown {{ letsencrypt_user }}:{{ letsencrypt_group }} /etc/letsencrypt/live/${COMMON_NAME}/fullchain-privkey.pem || exit 1
fi
